body {
  padding: 0 !important;
  margin: 0 !important;
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

#content {
  width: 80%;
  margin: 0 auto;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: red;*/
}

.logo {
  padding: 25px;
  width: 277px;
  height: 80px;
  /*background-color: blue;*/
}

.logo img {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  /*background-color: green;*/
}

a {
  text-decoration: none;
  color: black;
}

.opcja {
  padding: 15px;
  width: 140px;
  text-align: center;
  font-size: 14pt;
  position:relative;
  /*background-color: blue;*/
}

.opcja > .artysci {
  width: 85%;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  margin-top: 15pt;
}

.artysta {
  padding: 5pt 1pt;
  margin: 0;
  background-color: rgba(255, 255, 255, .7);
  transition: All 0.5s ease;
}

.artysta:hover {
  background-color: rgba(0, 0, 0, .2);
}

.opcja:hover > .artysci {
  visibility:visible;
}

.opcja > .underline {
  transition: All 0.1s ease;
  background-color: #d9b166;
  height: 3px;
  width: 0;
  margin: 0 auto;
  margin-top: 7px;
}

.opcja:hover .underline {
  width: 80%;
}

.ramka {
  width: 70%;
  height: 500px;
  border: 1px solid white;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  /*text-align: center;*/
}

.zdjecie {
  width: 80%;
  height: 80%;
  margin: 5% auto;
}

.vid {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

video {
  width: 100%;
  height: 100%;
}

.odnosnik {
  position: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 40%;
  margin: 25% auto;
  font-family: 'Lato', sans-serif;
}

.nazwa {
  padding-bottom: 20px;
  font-size: 35pt;
  letter-spacing: 1pt;
}

a {
  text-decoration: none;
  color: black;
}

.guzik {
  padding: 10px 30px;
  margin-bottom: 3px;
  border: 3px solid black;
  transition: All 0.5s ease;
  background-color: rgba(0, 0, 0, .0);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16pt;
  letter-spacing: 1pt;
}

.guzik:hover {
  background-color: rgba(0, 0, 0, .2);
}

.bottom {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.socialmedia {
  display: flex;
  width: 80px;
  margin: 15px auto;
  justify-content: space-around;
  align-items: baseline;
  color: rgba(0, 0, 0, 0.5);
}

.social_button {
  transition: All 0.5s ease;
}

.social_button:hover {
  font-size: 24px;
}

.kontakt {
  position: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 20%;
  margin: 15% auto;
  font-family: 'Lato', sans-serif;
}

.kontakt_top {
  padding-bottom: 40px;
  font-size: 42pt;
  letter-spacing: 3pt;
  color: #d9b166;
}

.kontakt_bot {
  padding-bottom: 5px;
  font-size: 22pt;
  font-weight: lighter;
  letter-spacing: 3pt;
}

.slides {
  display: none;
  width: 100%;
  margin-bottom: 80pt;
}

.zdjecie_tekst_obo {
  display: flex;
  /*flex-direction: row;*/
  text-align: flex-start;
  /*justify-content: space-between;*/

}

.zdjecie_twarz {
  width: 51%;
  float: left;
  margin-top: -9pt;
  margin-bottom: -14pt;
  padding: 20px;
  padding-left: 0px;
}

.tekst_top {
  padding-bottom: 10px;
  font-size: 22pt;
  letter-spacing: 3pt;
  color: #d9b166;
  font-weight: bold;
  text-align: left;
}

.tekst_bot {
  padding-bottom: 5px;
  font-size: 13pt;
  font-weight: lighter;
  letter-spacing: 3pt;
  text-align: justify;
  text-align: left;
}

.tekst_szeroki {
  width: 100%;
  font-family: 'Lato', sans-serif;
  /*text-align: justify;*/
  font-size: 13pt;
  margin-bottom: 80pt;
  letter-spacing: .5pt;
}

.zdjecie_publikacja {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20pt;
}

.tekst_publikacja {
  width: 90%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  /*text-align: justify;*/
  font-size: 14pt;
  letter-spacing: 1pt;
  line-height: 20pt;
}

h1 {
  color: #d9b166;
  font-size: 45pt;
  letter-spacing: 3pt;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 28pt;
}
